* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    overflow: hidden;
}

span {
    width: 100px;
    height: 100px;
    background: url("https://cdn.iconscout.com/icon/premium/png-512-thumb/star-icon-download-in-svg-png-gif-file-formats--shape-object-symbol-space-doodle-cute-education-pack-school-icons-10396531.png?f=webp&w=512");
    position: absolute;
    background-size: cover;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}